#body {
    box-sizing: border-box;
    width: var(--body-width);
    padding: 3.5rem 0;
    border: 0.075rem solid var(--color-complement-04);
    border-radius: 0.5rem;
}

.illustContainer {
    width: 72%;
    margin: 0 auto;
}

.illustContainer:not(:last-child) {
    border-bottom: 0.075rem solid var(--color-complement-02);
}

.illust {
    height: calc((var(--body-width) * 0.72) * var(--illust-height-ratio));
    background-color: var(--color-complement-03);
    background-size: cover;
    border-radius: 0.4rem;
    box-shadow: 0.5rem 0.5rem 1.75rem rgb(0 32 64 / 7.2%);
}

.illustOriginalPostAnchor {
    display: flex;
    align-items: center;
    margin: 0.75rem 0;
    text-decoration: none;
}

.illustOriginalPostAnchor[data-is-original-post-exists="true"] {
    color: var(--color-dominant);
}

.illustOriginalPostAnchor[data-is-original-post-exists="true"]::after {
    margin-inline-start: 0.175rem;
    font-family: "Material Icons";
    content: "open_in_new";
}

.illustOriginalPostAnchor[data-is-original-post-exists="false"] {
    color: var(--color-complement-05);
}

.illustOriginalPostAnchor[data-is-original-post-exists="false"]::after {
    content: "（リンク切れ）";
}

.illustTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 0.75rem 0;
}

.illustTag {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem 0.375rem 0.5rem;
    color: inherit;
    text-decoration: none;
    border-radius: 0.375rem;
    box-shadow: 0.25rem 0.25rem 1.5rem rgb(0 32 64 / 6.4%);
}

.illustTag::before {
    display: inline-block;
    width: 0.225rem;
    height: 100%;
    margin-inline-start: 0.2rem;
    margin-inline-end: 0.425rem;
    content: "";
    border-radius: 9999px;
}

.illustTag[data-tag-type="WORK"]::before {
    background-color: var(--color-tag-work-main);
}

.illustTag[data-tag-type="CHARACTER"]::before {
    background-color: var(--color-tag-character-main);
}

.illustTag[data-tag-type="AUTHOR"]::before {
    background-color: var(--color-tag-author-main);
}

.illustInfoEditButton {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.375rem 0.75rem;
    margin: 0.75rem 0 0.75rem auto;
    cursor: pointer;
    border-radius: 0.375rem;
    box-shadow: 0.25rem 0.25rem 1.5rem rgb(0 32 64 / 6.4%);
}

.illustInfoEditButton::before {
    margin-inline-end: 0.175rem;
    font-family: "Material Icons";
    font-size: 92.5%;
    content: "edit";
}

.illustInfoDialog {
    box-sizing: border-box;
    display: flex;
    width: calc(var(--body-width) * 1.375);
    height: calc(var(--body-width) * 0.875);
    padding: 1rem;
    background-color: var(--color-child-02);
    border-radius: 0.65rem;
}

#illustInfoEditPreviewImage {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

#illustInfoEditPreviewImage img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto 0;
    border-radius: 0.48rem;
}

#illustInfoEditInputField {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1rem 1.5rem;
}

#illustInfoEditInputField div[data-position="upper"] {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding-bottom: 2rem;
}

#illustInfoEditInputField div[data-position="lower"] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.45rem;
    max-height: 50%;
}

#illustInfoEditInputField div[data-position="upper"] p {
    font-size: 1.25rem;
}

.illustInfoInputContainer label {
    font-size: 0.95rem;
    color: var(--color-complement-05);
}

.illustInfoInputContainer input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.175rem 0.425rem;
    margin: 0.175rem 0;
    font-size: 0.875rem;
    line-height: 1rem;
    background-color: var(--color-complement-02);
    border: none;
    border-bottom: 0.125rem solid var(--color-complement-05);
}

.illustInfoInputContainer p {
    display: flex;
    align-items: center;
    font-size: 0.825rem !important;
    font-feature-settings: "palt";
    line-height: 1rem;
    color: var(--color-complement-05);
}

#illustTagSuggestionContainer {
    position: absolute;
    bottom: 0;
}

.illustInfoEditTag {
    display: flex;
    align-items: center;
    height: 0.95rem;
    padding: 0.125rem 0.325rem;
    font-size: 0.875rem;
    line-height: 0.95rem;
    border-radius: 0.225rem;
    opacity: 1;
    transition: color 0.2s, background-color 0.2s, opacity 0.2s, border-color 0.2s;
}

.illustInfoEditTag[data-is-exists="true"] {
    border: 0.125rem dashed transparent;
}

.illustInfoEditTag[data-is-exists="true"][data-tag-type="WORK"] {
    color: var(--color-tag-work-main);
    background-color: var(--color-tag-work-sub);
    fill: var(--color-tag-work-main);
}

.illustInfoEditTag[data-is-exists="true"][data-tag-type="CHARACTER"] {
    color: var(--color-tag-character-main);
    background-color: var(--color-tag-character-sub);
    fill: var(--color-tag-character-main);
}

.illustInfoEditTag[data-is-exists="true"][data-tag-type="AUTHOR"] {
    color: var(--color-tag-author-main);
    background-color: var(--color-tag-author-sub);
    fill: var(--color-tag-author-main);
}

.illustInfoEditTag[data-is-exists="false"] {
    color: var(--color-complement-05);
    border: 0.125rem dashed var(--color-complement-05);
    fill: var(--color-complement-05);
}

.tagStatusToggleButton {
    margin-inline-start: 0.125rem;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: rotate(0deg);
}