:root {
    --color-dominant: #128afa;
    --color-child-01: #141517;
    --color-child-02: #ffffff;
    --color-complement-01: #fbfeff;
    --color-complement-02: #ecf0f6;
    --color-complement-03: #e4e8ee;
    --color-complement-04: #8f959d;
    --color-accent-01: #38393d;
    --color-tag-work: #08cc8b;
    --color-tag-character: #f55f99;
    --color-tag-author: #128afa;
}